[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmake = "*"
opencv-python = "*"
dlib = "*"
numpy = "*"
face-recognition = "*"
imutils = "*"
mqtt = "*"
paho-mqtt = "*"
matplotlib = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.10"
